@import url("bootstrap.min.css");

div[name=card-container] {
    border-radius: 15px;
    border: 8px solid;
    padding-left: 0px;
    padding-right: 0px;
}

#main-container .div {
    background: #ffffff;
}

div[name=card-content-container] {
    border-top: 1em solid;
    border-bottom: 1em solid;
    position: relative; /*For scratching damuku-div, so that it could overlay on the card-content-container. @see http://www.w3schools.com/css/css_positioning.asp*/
}

#card-header {
    margin-bottom: 0px;
    background: transparent;
}

#card-header-author-avatar {
    padding: 5px 5px 5px 5px;
}

div[name=post-item] {
    margin: 40 0 40 0;
}

#card-foot-statistic {
    padding: 10px 10px 10px 10px;
}

#card-foot {
    border-radius: 10px;
    background: transparent;
    padding: 10px 10px 10px 10px;
}

.border-cycle {
    border-radius: 5px;
}

body {
    background: #dbdbd3
}

span[name=comment-text-input-btn] {
    cursor: pointer;
}

#footer-nav, #header-nav {
    background: #999;
}

div[name=footer-nav] {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background: #999;
}

div[name=card_danmuku_content_container] {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1
}

.danmuku-init {
    width: 20px;
    height: 20px;
    z-index: 4;
    position: absolute;
    border-collapse: separate;
    border: 5px solid #000000;
}